In [1]:
from ID3Tree import ID3Tree
import numpy as np
import pandas as pd

In [2]:
car_df = pd.read_csv("car.csv")
car_df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [9]:
from sklearn.model_selection import train_test_split
car_train, car_test = train_test_split(
    car_df,
    test_size = 0.2,
    train_size = 0.8,
)

train_feat = car_train[car_train.columns[:-1]]
train_targ = car_train[car_train.columns[-1]]

test_feat = car_test[car_test.columns[:-1]]
test_targ = car_test[car_test.columns[-1]]

from sklearn.metrics import accuracy_score

types = [
    "entropy",
    "majority error",
    "gini"
]

obs = 10

results = np.zeros((obs, len(types)))
results = pd.DataFrame(
    results,
    columns = types
)

for t in types:
    
    print(f"Running {t}...")
    
    data = np.zeros(len(results))

    for i in range(len(results)):
        
        depth = i+1
        tree = ID3Tree()
        tree.train(train_feat,
                   train_targ,
                   t,
                   max_depth = depth
        )
        trained_targ = tree.predict(test_feat)
        
        data[i] = accuracy_score(trained_targ, test_targ)
        
    results[t] = data

results

Running entropy...
Running majority error...
Running gini...

    entropy  majority error      gini
0  0.690751        0.690751  0.690751
1  0.786127        0.786127  0.786127
2  0.794798        0.780347  0.800578
3  0.867052        0.849711  0.849711
4  0.936416        0.921965  0.933526
5  0.895954        0.881503  0.895954
6  0.895954        0.881503  0.895954
7  0.895954        0.881503  0.895954
8  0.895954        0.881503  0.895954
9  0.895954        0.881503  0.895954